body{
    background-color: black;
    margin: 0;
    overflow: hidden;
}

.invisible{
    display: none;

}#label-1{
    z-index: 900;
    position: absolute;
    display: flex;

    animation-name: timerIntro;
    animation-duration: 1ms;
    animation-iteration-count: 1;
    animation-delay: 40s;
    animation-fill-mode:forwards;

}#div-1{
    z-index: 900;
    position: relative;

    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column-reverse;

}#videobrigde{
    z-index: 900;
    position: relative;
    width: 100vw;
    margin: 0 auto;
 
}#butten-text{
    z-index: 901;
    position: relative;
    text-align: center;

    width: 250px;
    bottom: 10vw;

    color: rgb(135,252,233);
    background-color: rgba( 12 , 66, 37, .7);
    border: 1px solid rgb(135,252,233);
    font-size: 2vw;

    /* Creates neon effect */
    text-shadow: 0 0 5px rgb(135,228,236),
                0 0 10px rgb(135,228,236),
                0 0 20px rgb(135,228,236),
                0 0 40px rgb(135,228,236),
                0 0 80px rgb(135,228,236);

    cursor: pointer;

}#button-1:checked + #div-1{
    display: none;
}
    
@keyframes timerIntro {
    from{}
    to{
        opacity: 0;
        z-index: -001;
    }
}

