/*CSS for cure elements*/
body{
    background-color: black;
    margin: 0;
    overflow: hidden;
}input{
    display: none;
}#div-2-flexbox{
    background-color: black;  
    z-index: 000;  
}#background-img{
    position:absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 001;
}


/*Rules for class elements*/
.element-box{
    position: absolute;
    background-color: black;
    z-index: 002;

    width: 35%;
    height: 45%;
}

.info-box{
    position: absolute;
    background-color: black;
    background-image: radial-gradient(
      rgba(0, 150, 0, 0.425),
      black 95%
    );
    border:rgba(0, 150, 0) solid 3px;
    height: 100vh;
    z-index: 003;

    width: 90%;
    height: 100%;

    transition: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.info-text{
    position: absolute;
    z-index: 005;
    margin: 8%;

    color: white;
    font: monospace;
    font-size: 1vw;
    text-shadow: 0 0 5px #C8C8C8;

   
}

.header-infobox{
    position: absolute;
    z-index: 004;
    top: 50%;
    cursor: pointer;
    font-size: 2vw;

    text-shadow: 0 0 5px rgb(135,228,236),
                0 0 10px rgb(135,228,236),
                0 0 20px rgb(135,228,236),
                0 0 40px rgb(135,228,236),
                0 0 80px rgb(135,228,236),
                0 0 100px rgb(135,228,236),
                0 0 120px rgb(135,228,236);

    transition: text-shadow, opacity;
    transition-duration: 2s;
   
}.header-infobox:hover{
    text-shadow: 
    0 0 5px rgb(225, 205, 15),
    0 0 10px rgb(225, 205, 15),
    0 0 20px rgb(225, 205, 15),
    0 0 40px rgb(225, 205, 15),
    0 0 80px rgb(225, 205, 15);
}

.header-img{
    position: absolute;
    width: 78%;
    
    transition: opacity;
    transition-duration: 2s;
}




/*CSS for div element 1*/
#div-element-1{
    top: 0;
    left: 0;
}#div-element-1-1{
    left: -95%;
}#h1-1-1{
    left: 10%;
}

#radio1:checked ~ #div-element-1-1{
    left: 0;
}#radio1:checked ~ #h1-1-1{
    opacity: 0;
    transition-delay: 0s 5s;
    cursor: default ;
}#radio1:checked ~ #img-1-1{
    opacity: 0;
}

/*CSS for div element 2*/
#div-element-2{
    top: 55%;
    left: 0;
}#div-element-2-1{
    left: -95%;   
}#h1-2-1{
    left: 10%;
}

#radio2:checked ~ #div-element-2-1{
    left: 0;
}#radio2:checked ~ #h1-2-1{
    opacity: 0;
    transition-delay: 0s 5s;
    cursor: default ;
}#radio2:checked ~ #img-2-1{
    opacity: 0;
}

/*CSS for div element 3*/
#div-element-3{
    top: 0;
    right: 0;
}#div-element-3-1{
    right: -95%;
}#h1-3-1{
    right: 10%;
}#img-3-1{
    position: absolute;
    right: 0;
}

#radio3:checked ~ #div-element-3-1{
    right: 0;
}#radio3:checked ~ #h1-3-1{
    opacity: 0;
    transition-delay: 0s 5s;
    cursor: default ;
}#radio3:checked ~ #img-3-1{
    opacity: 0;
}

/*CSS for div element 4*/
#div-element-4{
    top: 55%;
    right: 0;
}#div-element-4-1{
    right: -95%;
}#h1-4-1{
    right: 10%;
}#img-4-1{
    position: absolute;
    right: 0;
}

#radio4:checked ~ #div-element-4-1{
    right: 0;
}#radio4:checked ~ #h1-4-1{
    opacity: 0;
    transition-delay: 0s 5s;
    cursor: default ;
}#radio4:checked ~ #img-4-1{
    opacity: 0;
}

